
/* @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background:url("../src/image/bcg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: fixed;
  background-attachment: fixed;
}